.footer {
  bottom: 0;              /* colado embaixo */
  left: 0;
  width: 100%;            /* ocupa toda a largura */
  background-color: #a70d0d;
  color: #fff;  
  text-align: center;     /* centraliza o texto */
  padding: 12px;        /* espaçamento interno */
  font-size: 14px;
  border-radius: 2px;
}

.footer .bold {
  font-weight: bold;
}
