@import "tailwindcss";


html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* garante que 100vh funcione corretamente */
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
}
